<div>
  	
	<div class="flexslider">
		<ul class="slides">
	  		
	  		<li>
	  			<a href="{{ site.url}}{{ post.permalink }}">
		    		<img src="https://res.cloudinary.com/imbriitneysam/image/upload/v1537676714/venom3-min.jpg">
		    		 <div class="flex-caption">

						 <div style="padding-bottom:5px;">
							 Venom

							 </div>


					
					

					 <span class="fa fa-star tamanio checked"></span>
					<span class="fa fa-star tamanio checked"></span>
					<span class="fa fa-star tamanio checked"></span>
					<span class="fa fa-star tamanio"></span>
					<span class="fa fa-star tamanio"></span>
					<span class="tamanio_left"> 2017 </span>
					<span class="tamanio_left clasificacion">PG-13</span>
					<span class="tamanio_left"> 2h 13m </span>

					 </div>
		    	</a>
	 		</li>

             <li>
	  			<a href="{{ site.url}}{{ post.permalink }}">
		    		<img src="https://res.cloudinary.com/imbriitneysam/image/upload/v1536718889/spider.jpg">
					 <div class="flex-caption">
		    			 
						 <div  style="padding-bottom:5px;" >
							  Spider-Man: Homecoming

							 </div>
					
					 	 <span class="fa fa-star tamanio checked"></span>
					<span class="fa fa-star tamanio  checked"></span>
					<span class="fa fa-star tamanio checked"></span>
					<span class="fa fa-star tamanio"></span>
					<span class="fa fa-star tamanio"></span>
						<span class="tamanio_left"> 2017 </span>
						<span class="tamanio_left"> 2h 13m </span>

					 </div>
		    	</a>
	 		</li>
	  		
		</ul>
	</div>

</div>