<div>
  	
	<div class="flexslider">
		<ul class="slides">
	  		
	  		<li>
	  			<a href="{{ site.url}}{{ post.permalink }}">
		    		<img src="https://res.cloudinary.com/imbriitneysam/image/upload/v1532495552/post-min.jpg">
		    		 <p class="flex-caption">Adventurer Cheesecake Brownie</p>
		    	</a>
	 		</li>

             <li>
	  			<a href="{{ site.url}}{{ post.permalink }}">
		    		<img src="https://res.cloudinary.com/imbriitneysam/image/upload/v1534134170/facebook-min.jpg">
		    		 <p class="flex-caption">Adventurer Cheesecake Brownie 2</p>
		    	</a>
	 		</li>
	  		
		</ul>
	</div>

</div>