<footer>
  
    
    <p> Esta App almacena sus videos en su propio servidor y la comparte con su propio reproductor, evitando así la publicidad. Disfrútenlo <svg class="love"><use xlink:href="#icon-heart"></use></svg> </p>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
<!-- Google CDN Hosted jQuery  -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
	<!-- Flexslider Library  -->
	<script src="/assets/js/flexslider/jquery.flexslider-min.js"></script>
  	<script src="/assets/js/owl.carousel.js"></script>
    
  <script>
    $(document).ready(function() { 
      $("#owl-demo").owlCarousel({
    
        autoPlay: 3000,    
        items : 5,
        itemsDesktop : [640,4],
        itemsDesktopSmall : [414,3]
    
      });
    
    }); 
  </script>    

  <script>

    $(document).ready(function(){

        $("#menu").on( "click", function() {
          $('#menu').hide(); 
          $('#menu2').show(); 
        
        });
        $("#menu2").on( "click", function() {
          $('#menu2').hide(); 
          $('#menu').show();
        });

        $("#mask").on( "click", function() {
          $('#menu2').hide(); 
          $('#menu').show();
        });
    });


  </script> 

  <script type="text/javascript">
  $(window).load(function() {
      $(".loader").fadeOut("slow");
  });
  </script>
	<!-- Initialisation Code  -->
	<script src="/assets/js/app.js"></script>


<script id="dsq-count-scr" src="//https-imbriitneysam-github-io.disqus.com/count.js" async></script>


<script src="/assets/js/modernizr.js"></script>
<script src="/assets/js/script.js"></script>
<script>
  $(document).ready(function() {
    $('.header-video').each(function(i, elem) {
        headerVideo = new HeaderVideo({
          element: elem,
          media: '.header-video__media',
          playTrigger: '.header-video__play-trigger',
          closeTrigger: '.header-video__close-trigger'
        });
    });
  });
</script>



<script>
// Get all elements with class="closebtn"
var close = document.getElementsByClassName("closebtn");
var i;

// Loop through all close buttons
for (i = 0; i < close.length; i++) {
    // When someone clicks on a close button
    close[i].onclick = function(){

        // Get the parent of <span class="closebtn"> (<div class="alert">)
        var div = this.parentElement;

        // Set the opacity of div to 0 (transparent)
        div.style.opacity = "0";

        // Hide the div after 600ms (the same amount of milliseconds it takes to fade out)
        setTimeout(function(){ div.style.display = "none"; }, 600);
    }
}
</script>
{% include stats.html %}
