<header class="bar-header">
    <div id="menu">
    <a >
        <svg id="open" class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
    </a>

    </div>

   <div id="menu2" style="display: none;">
    <a >
        <svg id="open" class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
    </a>

    </div>

    
    
    <a id="search" class="dosearch">
        <svg class="icon-search"><use xlink:href="#icon-search"></use></svg>
    </a>
   
    <div align="center">
        <a id="load" href="{{ site.baseurl }}/">
           <img src="{{site.baseurl}}/final-min.png">
        </a>
    </div>
    
</header>

<div id="mask" class="overlay"></div>

{% include menu.html %}
{% include search.html %}
