<aside id="sidebar">
    <nav id="navigation">
     <div align="center" style="padding-top: 10px;"> <a href="/"> <img src="/final-min.png"> </a>
     
     <br>
     <span style="font-weight:bold; color:white;">Toros Negros TV </span>
      </div>
     <hr>
      <ul>
        {% for link in site.links %}
          <li><a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}"> <i class='fa fa-film' style="padding-right:10px;"></i> {{ link.title }}</a></li>
 
        {% endfor %}
        
      </ul>
    </nav>
</aside>
