<aside id="sidebar">
    <nav id="navigation">
     <div align="center"> <a href="/"> <img src="/final-min.png"> </a> </div>
     <hr>
      <ul>
        {% for link in site.links %}
          <li><a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}"> <i class='fa fa-heart'></i> {{ link.title }}</a></li>
 
        {% endfor %}
        <li><a class="feed" href="{{ site.url }}{{site.baseurl}}/feed.xml" title="Atom/RSS feed"> <i class='fa fa-rss'></i> Feed</a></li>
      </ul>
    </nav>
</aside>
