---
layout: main
---

<main class="home" id="post" role="main" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog">
     
 <video
    id="vid1"
    class="video-js vjs-default-skin"
    controls
    width="640" height="264"
    data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "https://www.youtube.com/watch?v=xjS6SftYQaQ"}] }'
  >
  </video>






            <article role="article" id="post" class="post-content" itemprop="articleBody">
                <p itemprop="post-info" class="post-info">
                    {% if page.date %}
                        <svg id="date" class="icon-calendar"><use xlink:href="#icon-calendar"></use></svg>
                        <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}" class="date">
                            {% include date.html date=page.date %}
                        </time>
                    {% endif %}
                    <svg id="clock" class="icon-clock"><use xlink:href="#icon-clock"></use></svg>
                    <span>{{ minutesText }}</span>
                </p>
                <h1 class="post-title" itemprop="name">{{ page.title }}</h1>
                <p itemprop="description" class="subtitle">{{ page.description }}</p>

                {% if page.image %}
                    <img src="{{ page.image }}" alt="Imagem de capa" class="post-cover">
                {% endif %}

                {{ content }}
            </article>

      
</main>

