---
layout: main
---

<main class="home" id="post" role="main" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog">
     
  <div class="header-video">
    <img src="https://res.cloudinary.com/imbriitneysam/image/upload/v1537139249/monaj3-min_1.jpg"
         class="header-video__media"
         data-video-URL="https://www.youtube.com/embed/Scxs7L0vhZ4"
         data-teaser="video/teaser-video"
         data-video-width="560"
         data-video-height="315">
    <a href="https://www.youtube.com/embed/Scxs7L0vhZ4" class="header-video__play-trigger" id="header-video__play-trigger">Play video</a>
    <button type="button" class="header-video__close-trigger" id="header-video__close-trigger">Close video</button>
  </div>

 <div id="player" data-plyr-provider="youtube" data-plyr-embed-id="hKp4jWoixHs"></div>

            <article role="article" id="post" class="post-content" itemprop="articleBody">
                <p itemprop="post-info" class="post-info">
                    {% if page.date %}
                        <svg id="date" class="icon-calendar"><use xlink:href="#icon-calendar"></use></svg>
                        <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}" class="date">
                            {% include date.html date=page.date %}
                        </time>
                    {% endif %}
                    <svg id="clock" class="icon-clock"><use xlink:href="#icon-clock"></use></svg>
                    <span>{{ minutesText }}</span>
                </p>
                <h1 class="post-title" itemprop="name">{{ page.title }}</h1>
                <p itemprop="description" class="subtitle">{{ page.description }}</p>

                {% if page.image %}
                    <img src="{{ page.image }}" alt="Imagem de capa" class="post-cover">
                {% endif %}

                {{ content }}
            </article>

      
</main>

