---
layout: main2
---

<main class="home" id="post" role="main" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog">
     
<div class="header-video">
    <img src="{{ page.image_banner }}"
         class="header-video__media"
         data-video-URL="{{ page.embed }}"
         data-video-width="560"
         data-video-height="315">
    <a href="{{ page.embed }}" class="header-video__play-trigger" id="header-video__play-trigger">Ver Trailer</a>
    <div class="bar2"></div>
    <button type="button" class="header-video__close-trigger" id="header-video__close-trigger">Close Video</button>
</div>


            <article role="article" id="post" class="post-content" itemprop="articleBody">

                <div id="grid" class="row">

                    <div class="col-md-6 col-xs-6 col-lg-6">
                        {% if page.image %}
                        <img src="{{ page.image }}" alt="Imagem de capa" class="post-cover">
                            {% endif %}

                    </div>
                
                    

                    <div class="col-md-6 col-xs-6 col-lg-6">
                         <div class="col-md-12 col-xs-12 col-lg-12">

                            <div align="center">

                                 <h1 class="post-title" itemprop="name">{{ page.title }}</h1>
                                

                             </div>
                         </div>

                       
                         <p itemprop="description" class="subtitle">Género: {{ page.genero }}</p>   
                        <p itemprop="description" class="subtitle">Año: {{ page.anio }}</p>   
                          <p itemprop="description" class="subtitle">Duración: {{ page.duracion }}</p>   
                           <p itemprop="description" class="subtitle">Rating: {{ page.estrellas }} <i class="fa fa-star" aria-hidden="true"></i></p>   

                    </div>

                </div>

                <div cold-md="12">

                    <div align="center">

                    <h2 class="top_h2"> Sinopsis </h2>

                    </div>
                </div>

                  <div id="grid" class="row">

                      <p itemprop="description" class="subtitle" style="padding: 0 15px;"> {{ page.description }}</p>   

                   </div>

                   <div id="grid" class="row">

                     


                             <h2 class="top_h2"> Opciones de Reproducción </h2>

                             



                             <div class="holder">

                                  {% if page.reproductor == 'fembed' %}

                                     <iframe src="{{ page.iframe }}" frameborder="0" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" oallowfullscreen="true" msallowfullscreen="true" width="100%" height="350px" sandbox="{{ page.sandbox }}"></iframe>
                                

                                    <div class="bar" style="display:none;"></div>

                                     {% endif %}
                                  

                                   {% if page.reproductor == 'rapid-video' %}
                                     <iframe src="{{ page.iframe }}" frameborder="0" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" oallowfullscreen="true" msallowfullscreen="true" width="100%" height="350px" sandbox="{{ page.sandbox }}"></iframe>
                                     <div class="bar" style="display:block;"></div>


                                    {% endif %}



                                


                               
                            </div>

                           


       

                   

                    
                      


                        


                        


                   
                    </div>

            

                

                {{ content }}
            </article>

      
</main>

